html {
  background-color: black;
}

#body {
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* span {
  background-color: black !important;
} */

/* set div containing span to black */
div {
  color: white !important;
  background: black !important;
}

/* d3 chart example - begin */
.arc text {
  font-size: 24px;

  font-weight: bold;
  /* fill: #fff; */
  /* border: 1px solid white; */
}
/* d3 chart example - end */
